
.markdown-section * {
    font-size:18px;
}
.markdown-section pre {
    background: #fcfff0;
    color: #060;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    border: 1px dashed #ccc;
}
